# Data processing and manipulation
pandas==2.0.3
numpy==1.24.3

# Visualization
matplotlib==3.8.1
seaborn==0.12.2

# NLP / Sentiment analysis
textblob==0.17.1

# Machine learning
scikit-learn==1.3.0
xgboost==1.7.6
imbalanced-learn==0.11.0

# Model interpretation
shap==0.42.1

# Model serialization
joblib==1.3.2
